APP_ENV=local
APP_NAME=Nestora

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nestora
DB_USERNAME=root
DB_PASSWORD=

ADMIN_EMAIL=admin@example.com

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your_email@gmail.com
MAIL_FROM_NAME=Nestora
